div {
    
}

.container {
    display: flex;
    
}

.container > * {
    display:flex;
}

.container .head1 {
    border: 1px solid black;
    flex-grow: 4;
    margin: 5px;
    padding:10px;
    height:100px;
}

.container .head2 {
    border: 1px solid black;
    flex-grow: 1;
    margin: 5px;
    padding:10px;
    height: 100px;
    background-color: rgb(175, 105, 20);
}

.container-main-aside .aside {
    flex-direction: column;
    flex-grow: 1;
}

.container-main-aside .aside .side1 {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    height: 200px;
}

.container-main-aside .aside .side2 {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    height: 400px;
}

.container-main-aside .main {
    flex-direction: row;
    flex-grow: 4;
}

.container-main-aside .main1 {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    flex-grow: 4;
}

.container-main-aside .main2 {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    flex-grow: 1.5;
}

.footer {
    display: flex;
    border: 1px solid black;
    margin: 5px;
    padding:10px;
    height: 100px;
}

@media only screen and (max-width: 600px),
            screen and (max-height:680px) {

    .container-main-aside .aside .side1{
        display: none;
        flex-grow: 0;
    }

    .container-main-aside {
        flex-direction: row-reverse;
    }

    .container-main-aside .aside .side2 {
        height: 70vh;
    }

    .container-main-aside .main {
        flex-direction: column;
        height: 74vh;
    }

    .container-main-aside .main .main2 {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    .header > * {

     height: 20px !important;

    }

    .header .head1 {
        flex-grow: 10;
    }

    .footer {
        height: 5vh !important;
    }

}

@media only screen and (max-width: 600px) {


}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 992px) {


}

@media only screen and (min-width: 1200px) {}
